<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86516442552-ietnt43mc1rnse643b72rtacgfknajrs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86516442552-ietnt43mc1rnse643b72rtacgfknajrs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>86516442552-dtonsho2ffbqpb07ll4j36agrb3lpcjp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDKDGzpVeHEQMZjPTrdpt0PnkVp5tvywAk</string>
	<key>GCM_SENDER_ID</key>
	<string>86516442552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ecommerceios</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-95a5b</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-95a5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86516442552:ios:162383ded7cdcf0ffa5b4d</string>
	<key>DATABASE_URL</key>
	<string>https://ecommerce-95a5b.firebaseio.com</string>
</dict>
</plist>